@model List<Product>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ürün ID</th>
                <th scope="col">Ürün Adý</th>
                <th scope="col">Ürün Açýklamasý</th>
                <th scope="col">Ürün Fiyatý</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                    {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>
                    }
        </tbody>
    </table>
